$ossBaseUrl: '//logan-blog.oss-cn-shenzhen.aliyuncs.com/blog-detail/';

$wechatQR: #{$ossBaseUrl}#{'WechatIMG67.jpeg'};
$twitterQR: #{$ossBaseUrl}#{''};
$xmas: #{$ossBaseUrl}#{'cap.12a740a.svg'};
$andriod: #{$ossBaseUrl}#{'phone-android.png'};
$mac: #{$ossBaseUrl}#{'mbp_effect.png'};
$iOS: #{$ossBaseUrl}#{'ios_effect_meitu_1.png'};

$black: #000;